body {
    font-family: "Bookman Old Style", "URW Bookman", "Times New Roman", serif;
    margin: 0;
    background-color:  #eaf0f6;
    color: #222;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f2a44;
    padding: 15px 40px;
}

nav h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #e9eef5;
}

section {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 25px;
    border-radius: 6px;
}

h3 {
    color: #0f2a44;
}

.card {
    background: #f9fafc;
    padding: 15px;
    margin-top: 15px;
    border-left: 4px solid #0f2a44;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #0f2a44;
    color: white;
    margin-top: 40px;
}
